@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Indie+Flower&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Indie+Flower&family=Sunflower:wght@500&display=swap");
html{
    background-color: rgb(252, 210, 252);
}
p{
    color:purple;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
    font-style: italic;
}
h1{ text-align:center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#b{
    background-color: plum;
    width: 35%;
    
}
a:visited {color: red;}
a:hover {color: royalblue;}
a:link {color: seagreen;}

.c{
    text-align:right; 
}
.d{
    text-align:right;  
}
.e{
    background-color: thistle;
    width: 50%;
}